@font-face {
    font-family: "tapetura-regular";
    src: url("tapetura-regular.woff") format ("woff")
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: lightblue;
    font-family: ("tapetura-regular");
}