@font-face {
    font-family: "tapetura-regular";
    src: url("tapetura-regular.woff") format ("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: red;
}

    h1 {
        font-family: "tapetura-regular";
        font-size: 35vw;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding-left: 12px;
        color: white;
    }

